.mylogo,.logo{
    width: 6rem;
    display: block;
}

nav{
    height:5rem;
    width: 100vw;
    background:var(--color-primary);
    display: grid;
    place-items: center;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
}

/* only show on medium and small screens */

.nav_container{
   height:100%;
   display:flex;
   justify-content:space-between;
   align-items:center;

}
.nav_links{
    display:flex;
    align-items:center;
    gap:1.5em;
    perspective:400px;
}
.nav_toggle_btn{
    display:none;

}
.nav_links a{
    transition: var(--transition);
}
.nav_links a:hover{
    color:var(--color-secondary);

}
.active-nav{
    position:relative;
}




 
/* Media screen for (medium and small screens) */
@media screen and (max-width:1024px){
  
    .nav_toggle_btn{
        display:inline-block;
        background:transparent;
        font-size:1.5rem;
        cursor:pointer;
        color:var(--color-gray-100);
    }
    .nav_links{
        position:absolute;
        flex-direction: column;
        top:80%;
        right:100px;
        gap:0;

    }
    .nav_links li{
        height:4rem;
        width:100%;
        box-shadow:-2rem 2rem 5rem rgba(0,0,0,0.5);
        animation: 600 ease forwards;
        transform: rotateY(0deg);
        transform-origin:top;
    }
   
    .nav_links li:nth-child(1){
        animation-delay:200ms;
    }
    .nav_links li:nth-child(2){
        animation-delay:600ms;
        background:red;
    }
    .nav_links li:nth-child(3){
        animation-delay:800ms;
    }
    .nav_links li:nth-child(4){
        animation-delay:1s;
    }
    .nav_links li:nth-child(5){
        animation-delay:1.2s;
    }
    .nav_links li:nth-child(6){
        animation-delay:2s;
    }
    .nav_links li:hover{
        background:red;
    }

    .nav_links li a{
        background-color:var(--color-primary);
        height: 100%;
        width:100%;
        display:flex;
        align-items: center;
        padding:1rem 5rem 1rem 3rem;

    }
    .show_nav{
        display:flex;
    }
    .hide_nav{
        display:none;
    }
}
p{
    margin:3rem 0rem;
}
.btn{
    color:var(--color-secondary);
    background:var(--color-primary);
    margin: 0 auto;
    padding: 0.9rem 2rem;
    border-radius:1.5rem;
    transition:var(--transition);
}
.btn:hover{
    background:var(--color-secondary);
    color:var(--color-gray-600);

}
.btn.lg{
    padding:1.2rem 3rem;
    border-radius:2rem;
}
.btn.sm{
padding: 0.2rem;
}
